

<div class="container">
	<div class="row">
		<div class="col-md-3 profile">
			<aside>
			<%= image_tag "mag.jpg", alt: "mag image", class: "img-circle" %>
			<h4>MAG</h4>
			<p>Software Developer</p>
			 <a href="https://twitter.com/mag20174301" 
			 class="twitter-follow-button" 
			 show-count="true"
			 data-lang="en">Follow @mag20174301</a>
			<hr>
			<p>Share this page:</p>
			<ul class="clearfix">
				<li><%= link_to image_tag("social_icons/twitter.png",alt: "twitter image"), '#' %></li>
				<li><%= link_to image_tag("social_icons/facebook.png",alt: "facebook image"), '#' %></li>
				<li><%= link_to image_tag("social_icons/linkedin.png",alt: "linkedin image"), '#' %></li>
				<li><%= link_to image_tag("social_icons/googleplus.png",alt: "googleplus image"), '#' %></li>
				<li><%= link_to image_tag("social_icons/pinterest.png",alt: "pinterest image"), '#' %></li>
				<li><%= link_to image_tag("social_icons/email.png",alt: "email image"), '#' %></li>
			</ul>
			</aside>
		</div>
		<div class="col-md-8 profile2">

				<% @posts.each do |post| %>
					<div>
						<header><h2><%= truncate(post.title, length: 30, separate: ' ') %></h2></header>
						<footer>Posted <%= " #{time_ago post.created_at}" %></footer>
					</div> 

					<div class="lead">
						<%= truncate(post.content, length: 104, separate: ' ') {link_to 'Read More', post_path(post) } %>
					</div> 

					<% if Setting.tag_visible? %>
						<p>
						<% post.tags.each do |tag| %>
						<%= link_to tag.name, posts_path(tag: tag.name), class: "label label-default" %>
						<% end %>
						</p>
					<% end %> 
					<hr>
				<% end %>

				<%= paginate @posts %>
		</div>
	</div>
</div>



<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>





